<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image.url, 'main'), width: '100%' %>
    </div>
      <div class="col-md-5">
        <%= link_to 'Back', portfolios_path %>
        <%= link_to fa_icon('pencil-square-o'), edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin) %>
         <%= link_to fa_icon('trash'), @portfolio_item, method: :delete, data: {confirm: 'Delete Portfolio Item?'} if logged_in?(:site_admin) %>

      <h1><%= @portfolio_item.title %></h1>

      <em><%= @portfolio_item.subtitle %></em>

      <p><%= markdown @portfolio_item.body %></p>

      <hr>

      <h3>Technologies Used:</h3>
      <div class="show-tech-used">
        <% @portfolio_item.technologies.each do |t| %>
          <p><%= t.name %><p>
      <% end %>
      </div>
    </div>
  </div>
</div>


