<footer class= "mastfoot mt-auto">
  <div class="inner">
    <div class="app-footer">
      <%= copyright_generator %>
      <div class="social-links-footer">
        <a href="https://github.com/mmudge"><%= fa_icon "github" %></a>
        <a href="https://www.instagram.com/m_mudge/"><%= fa_icon "instagram" %></a>
        <a href="https://twitter.com/mike84733340"><%= fa_icon "twitter" %></a>
        <a href="https://www.linkedin.com/in/michaeltmudge/"><%= fa_icon "linkedin" %></a>
      </div>
    </div>
  </div>

</footer>
