<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Personal thoughts and conversations with others about both fun and serious topics. Please feel free to comment on my posts.</p>
  </div>


  <%= source_helper("alert alert-info blog-sidebar-source") %>


  <div class="p-3">
    <h4 class="font-italic">Topics</h4>
    <% @side_bar_topics.each do |topic| %>
    <p class="mb-0"><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>


  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/mmudge"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/m_mudge/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.linkedin.com/in/michaeltmudge/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://twitter.com/mike84733340"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</aside>
