<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div id="background"  class="carousel-item active">
      <%= image_tag "bg-bg.jpeg", alt: "alttext", class: "d-block w-100" %>
    </div>
    <div id="background"  class="carousel-item" >
     <%= image_tag "bg-9.jpeg", alt: "alttext", class: "d-block w-100" %>
    </div>
    <div id="background"  class="carousel-item" >
      <%= image_tag "bg-4.JPG", alt: "alttext", class: "d-block w-100" %>
    </div>
    <div id="background"  class="carousel-item" >
      <%= image_tag "bg-1.jpeg", alt: "alttext", class: "d-block w-100" %>
    </div>
    <div id="background"  class="carousel-item" >
     <%= image_tag "background-hawaii.jpg", alt: "alttext", class: "d-block w-100" %>
    </div>
    <div id="background"  class="carousel-item" >
     <%= image_tag "bg-2.JPG", alt: "alttext", class: "d-block w-100" %>
    </div>
  </div>
</div>
