<div class="app-card-container">
  <div class="card card-margin">

    <h1>About Me</h1>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profilepicture-round.png", width: 300, alt: "profile image" %>
        <!-- <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
                >

              </div>
            </div>
          </div>

          <% end %>
        </div> -->
        <div class="contact-info-about">
          <p><a href="mailto:michaeltmudge@gmail.com?subject=PortfolioContact" "Email Me">michaeltmudge@gmail.com</a></p>
          <p><%= fa_icon "phone" %> + 31 06 18506736</p>
          <p><%= fa_icon "map-marker" %> Alphen aan den Rijn, Netherlands</p>

        </div>

        <div class="social-links-contact">
          <a href="https://github.com/mmudge"><%= fa_icon "github" %></a>
          <a href="https://www.instagram.com/m_mudge/"><%= fa_icon "instagram" %></a>
          <a href="https://twitter.com/mike84733340"><%= fa_icon "twitter" %></a>
          <a href="https://www.linkedin.com/in/michaeltmudge/"><%= fa_icon "linkedin" %></a>
        </div>
      </div>

      <div class="col-md-8 padding-about-text">
        <p>In the last year software development has changed from a hobby of mine into a passion. I love building projects from the ground up, from wiring up the back end and working with the database to implementing modern JavaScript and design on the front end. The main technologies I use to build project are Ruby on Rails 5 and JavaScript ES6+, skills which I initially learned last year while attending <a href="www.lewagon.com"><b>Le Wagon</b></a> Amsterdam and ever since I have continued learning on my own. </p>

        <p>I am currently looking for a full-time position as a junior to mid level developer. In the mean time I am working on freelance projects and self learning new technologies. I’m always open to new business opportunities. Please feel free to contact if you would like to have a chat or want more information.</p>


        <p>
          <button
            class="aboutpage-btn portfolio-btn"
            type="button"
            data-toggle="collapse"
            data-target="#skillsAbout"
            aria-expanded="false"
            aria-controls="skillsAbout"
              > Skills
          </button>

          <button
            class="aboutpage-btn portfolio-btn"
            type="button"
            data-toggle="collapse"
            data-target="#educationHistory"
            aria-expanded="false"
            aria-controls="educationHistory"
              > Education
          </button>
        </p>

        <p>
          <div class="collapse" id="educationHistory">
            <div class="card card-block">
              Le Wagon Coding Bootcamp
            </div>
            <div class="card card-block">
              University of Arizona
            </div>
          </div>

          <div class="collapse" id="skillsAbout">
            <div class="card card-block">
              Ruby on Rails 5 (including Active Storage and Action Cable)
            </div>
            <div class="card card-block">
              JavaScript ES6+
            </div>
            <div class="card card-block">
              MVC Design Pattern
            </div>
             <div class="card card-block">
              HTML5 & CSS3 (& SCSS)
            </div>
             <div class="card card-block">
              Bootstrap 4
            </div>
             <div class="card card-block">
              git & GitHub
            </div>
             <div class="card card-block">
              SQL & Database Management
            </div>
             <div class="card card-block">
              Scrum and Agile Work Flows
            </div>
            <div class="card card-block">
              Heroku
            </div>
            <div class="card card-block">
              Web Design with Figma and Sketch
            </div>
            <div class="card card-block">
              AWS S3
            </div>
          </div>

        </p>
      </div>
    </div>
  </div>
</div>



