<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag "favicons/favicon.ico" %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- top above nav (might remove) -->
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
             <!-- <a class="text-muted" href="#">Subscribe</a> -->
          </div>
          <div class="col-4 text-center">
             <a class="blog-header-logo text-dark" href="#">Blog</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
             <a class="text-muted" href="#">
               <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg> -->
             </a>
             <!-- <a class="btn btn-sm btn-outline-secondary" href="#">Sign Up</a> -->
          </div>
        </div>
      </header>
   <!-- end of top part (might remove) -->

<!-- start of nav -->
    <%= render 'shared/blog_nav' %>
  <!-- end of nav -->

    </div> <!-- first container div -->

<!-- start of blog header -->

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">

      <%= render 'shared/blog_masthead' %>

     <!-- end of blog header -->

        <%= yield %>
      </div> <!-- last blog head div has to be after yeild though -->

<!-- start of sidebar -->
    <%= render 'shared/blog_sidebar' %>
<!-- end of sidebar -->

     </div><!-- /.row -->

    </main><!-- /.container -->

    <!-- start of footer -->
    <%= render 'shared/blog_footer' %>
    <!-- end of footer -->

    <%= alerts %>


  </body>
</html>
